@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import './partials/sky-logo';
@import './partials/images';
@import './partials/description';
@import './partials/name';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;
}
